{% extends 'main/base.html' %}
{% block title %}Админ панель{% endblock %}
{% block content %}
<h1>Админ панель</h1>
<div class="row">
    <nav>
        <ul>
            <li><a href="{% url 'news_create' %}">Cоздать новость</a></li>
            <li><a href="{% url 'events_create' %}">Cоздать событие</a></li>
            <li><a href="{% url 'events_create' %}">Cоздать отчёт</a></li>
            <li><a href="{% url 'hall_bookings' %}">Просмотр бронирований</a></li>
        </ul>
    </nav>
</div>
{% endblock %}