{% extends 'main/base.html' %}
{% block title %}Список чатов{% endblock %}
{% block content %}
<style>
    .alert {
        display: none;
    }
</style>

<h2>Список чатов</h2>
    <ul>
        {% for chat in chats %}
            <li>
                <a href="{% url 'admin_chat' chat.id %}">Чат с {{ chat.user.username }}</a>
                (Последнее сообщение: {{ chat.messages.last.content|default:"Нет сообщений" }} {{chat.messages.last.timestamp}})
            </li>
        {% endfor %}
    </ul>
{% endblock %}