{% extends 'main/base.html' %}
{% block title %}{{ events.title }} - Нефтьче{% endblock %}
{% block content %}

<h1>{{ events.title }}</h1>
<p class="text-muted">{{ events.pub_date|date:"d.m.Y H:i" }}</p>
{% if events.image %}<img src="{{ events.image.url }}" class="img-fluid mb-3">{% endif %}
<div>{{ events.content|linebreaks }}</div>
<p><strong>Цена билета:</strong> {{ events.price }} ₽</p>

<hr>
<h4>Выберите место:</h4>

<style>
  .seating-area {
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
  }

  .seat {
    width: 40px;
    height: 30px;
    margin: 3px;
    background-color: #28a745; /* зелёный */
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .seat.taken {
    background-color: #dc3545; /* красный */
    cursor: not-allowed;
  }
</style>

<div class="seating-area">
  {% for seat in events.seats.all %}
    <div class="seat {% if seat.is_taken %}taken{% endif %}"
         title="Ряд {{ seat.row }} Место {{ seat.number }}"
         {% if not seat.is_taken %}
         onclick="location.href='{% url 'seat_payment' seat.id %}'"
         {% endif %}>
      {{ seat.row }}-{{ seat.number }}
    </div>
    {% if forloop.counter|divisibleby:30 %}<br>{% endif %}
  {% endfor %}
</div>


{% if user.is_superuser %}
    <a href="{% url 'events_edit' events.id %}">Редактировать</a>
    <a href="{% url 'events_delete' events.id %}">Удалить</a>
{% endif %}

{% endblock %}
