{% extends 'main/base.html' %}
{% block content %}
<h1>Добро пожаловать в ДК "Нефтьче"</h1>
<h3>Дворец культуры «Нефтьче» является крупнейшей концертной площадкой на юго-востоке Республики со зрительным залом на 987 мест. Руководит Дворцом культуры Рамиль Ильдарович Садриев.
В 2023 году ДК «Нефтьче» стал членом Союза концертных организаций России (СКОР)</h3>
<div class="row">
    <h2>Наши новости</h2>
    {% for news in latest_news %}
    <div class="col-md-4">
        <div class="card home_card">
            <img src="{{ news.image.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ news.title }}</h5>
                <p class="card-text">{{ news.content|truncatewords:20 }}</p>
                <a href="{% url 'news_detail' news.id %}" class="btn btn-primary">Читать далее</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="row">
    <h2>Предстоящие события</h2>
    {% for event in events %}
    <div class="col-md-4 event-container">
    <div class="card home_card">
        {% if event.image %}
            <img src="{{ event.image.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.description|truncatewords:20 }}</p>
            <a href="{% url 'events_detail' event.id %}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}