{% extends 'main/base.html' %}
{% block content %}
<h1 class="text-center">Добро пожаловать в ДК "Нефтьче"</h1>
<h2 class="text-center">Добро пожаловать в ДК "Нефтьче"</h2>
<div class="row">
    {% for news in latest_news %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{ news.image.url }}" class="card-img-top">
            <div class="card-body">
                <h5>{{ news.title }}</h5>
                <p>{{ news.content|truncatewords:20 }}</p>
                <a href="{% url 'news_detail' news.id %}" class="btn btn-primary">Читать далее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}