{% extends 'main/base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h2>Профиль пользователя: {{ user.username }}</h2>
<h3><strong>Баланс:</strong> {{ user.balance }} ₽</h3>
<ul class="list-group" >
    {% for ticket in tickets %}
        <li class="list-group-item">
            <a href="{% url 'ticket_detail' ticket.id %}">
                <strong>{{ ticket.event.title }}</strong> – {{ ticket.quantity }} шт., куплено {{ ticket.purchased_at|date:"d.m.Y H:i" }}
            </a>
        </li>
    {% empty %}
        <li class="list-group-item">Вы ещё не купили ни одного билета.</li>
    {% endfor %}
</ul>



<br>
<h3>Мои бронирования зала:</h3>

<button class="btn btn-link" onclick="toggleTickets()">Показать бронирования</button>
<script>
    function toggleTickets() {
        const list = document.getElementById('book-list');
        const button = event.target;
        if (list.style.display === "none") {
            list.style.display = "block";
            button.textContent = "Скрыть бронирования";
        } else {
            list.style.display = "none";
            button.textContent = "Показать бронирования";
        }
    }
</script>
<ul id="book-list" class="list-group" style="display: none;">
    {% for booking in hall_bookings %}
        <li class="list-group-item">{{ booking.event_name }} — {{ booking.date }} {{ booking.time }} ({{ booking.duration }} ч.)</li>
    {% empty %}
        <li class="list-group-item">У вас нет бронирований.</li>
    {% endfor %}
</ul>
<p>Для отмены бронирования, свяжитесь с администратором</p>
{% endblock %}
