{% extends 'main/base.html' %}
{% block content %}

<h2>Оплата места {{ seat.row }}-{{ seat.number }}</h2>
<p>Мероприятие: {{ event.title }}</p>
<p>Цена: {{ event.price }} руб.</p>
<p>Ваш баланс: {{ request.user.balance }} руб.</p>



<form method="post" action="{% url 'add_to_cart' event.id seat.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Добавить в корзину</button>
</form>

<p><a href="{% url 'events_detail' events_id=event.id %}" class="btn btn-secondary">Вернуться к мероприятию</a></p>

{% endblock %}