{% extends 'main/base.html' %}
{% load qr_code %}
{% block title %}Детали билета{% endblock %}
{% block content %}
<div>
    <h2>Детали билета</h2>
    <div class="card">
        <div class="card-header">
            <h3 class="">{{ ticket.user.surname }} {{ ticket.user.name }} {{ ticket.user.lastname }}</h3>
            <h3 class="">{{ ticket.event.title }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Мероприятие:</strong> {{ ticket.event.title }}</p>
                    <p><strong>Количество:</strong> {{ ticket.quantity }}</p>
                    <p><strong>Дата покупки:</strong> {{ ticket.purchased_at|date:"d.m.Y H:i" }}</p>
                    <p><strong>Дата проведения мероприятия:</strong> {{ ticket.event.data|date:"d.m.Y H:i" }}</p>

                    {% for seat in seats %}
                        <p>Ряд {{ seat.row }}, Место {{ seat.number }}</p>
                    {% empty %}
                        <p>Места не указаны</p>
                    {% endfor %}
                </div>
                <div class="col-md-6 text-center">
                    <div class="qr-code-container">
                        {% qr_from_text qr_data size="M" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between">
            <a href="{% url 'profile' %}" class="btn btn-primary ">Вернуться в профиль</a>
            <a href="{% url 'download_ticket' ticket.id %}" class="btn btn-secondary">Скачать билет</a>
        </div>
    </div>
</div>

<style>
    .qr-code-container {
        padding: 15px;
        border: 1px solid #eee;
        border-radius: 5px;
        display: inline-block;
        background: white;
    }
    .card {
        max-width: 800px;
        margin: 0 auto;
    }
</style>
{% endblock %}